
.product-detail {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.product-image {
    flex: 1;
    width: 100%;
    height: auto;

}

.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.product:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: grayscale(30%) brightness(80%);
}

.product-details {
    flex: 2;
    padding: 24px;
}

.product-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 8px;
}

.product-description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 16px;
}

.additional-info {
    margin-bottom: 16px;
}

.additional-info p {
    margin: 8px 0;
}

.product-price {
    color: #f00;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 16px;
}

.add-to-cart {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
    background-color: #45a049;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    /* Đảm bảo rằng độ dày của đường biên và padding không làm tăng kích thước thực tế của input */
}

/* Tạo hiệu ứng hover cho input */
input:hover {
    border-color: #999;
}

/* Tạo hiệu ứng focus cho input */
input:focus {
    border-color: #007bff;
    outline: none;
    /* Loại bỏ đường viền màu xanh khi input được focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}