.muahang-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f4f4f4;
}

.logo-muahang {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo-muahang:hover {
    background-color: #0056b3;
}

.container-setup {
    display: flex;
}

.muahang-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thongtinh-muahang {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttonSoluong {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#counter {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.muahang-label {
    margin-bottom: 10px;
    display: block;
}

.muahang-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.muahang-sdt {
    margin-right: 10px;
}

.muahang-magiamhgia,
.muahang-xacnhan {
    margin-top: 10px;
}

.muahang-xacnhan {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.muahang-xacnhan:hover {
    background-color: #45a049;
}

.muahang-customer-info,
.thongtin-sanpham {
    flex: 1;
}

.hr-xoaydoc {
    height: 100%;
    width: 1px;
    background-color: #ccc;
    margin-right: 20px;
}

.thongtin-sanpham {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sanpham-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.muahang-tamtinh,
.muahang-phivanchuyen,
.muahang-tongcong {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.muahang-tamtinh1,
.muahang-phivanchuyen1,
.muahang-tongcong1 {
    font-weight: bold;
}

.btn.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn.btn-primary:hover {
    background-color: #0056b3;
}