<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js Basic</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Sản phẩm</a>
        <a class="active" href="">Mới</a>
    </div>
    <div class="create-user-container">
        <form action="/Them-san-pham" enctype="multipart/form-data" method="POST">
            <div><b>Tạo sản phẩm mới:</b></div>
            <div>
                <label for="">Tên sản phẩm:</label>
                <input type="text" name="TenSanPham" />
            </div>
            <div>
                <label for="">Giá</label>
                <input type="text" name="Gia" />
            </div>
            <div>
                <label for="">Số Lượng: </label>
                <input type="text" name="SoLuong" />
            </div>
            <div>
                <label for="">Tên Nhà Sản Xuất : </label>
                <input type="text" name="TenNXS" />
            </div>
            <div>
                <label for="">Thể loại :</label>
                <input type="text" name="Theloai" />
            </div>
            <div>
                <label for="">Ảnh:</label>
                <input type="file" name="profile_pic" />
            </div>
            <div>
                <button type="submit" class="btnSubmit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>